# Evaluation and Regularization

In [212]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib import cm

#### Предобратотаем наши данные:

Импортируем датасет "Credit Cards", с которым будем работать:

In [213]:
df = pd.read_csv("UCI_Credit_Card.csv")
df.sample(frac = 1).reset_index(drop = True)

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default.payment.next.month
0,10259,160000.0,2,2,1,38,-1,-1,-1,-1,...,6000.0,6000.0,6000.0,6000.0,6228.0,6000.0,6000.0,6000.0,6000.0,0
1,23758,290000.0,2,2,1,49,0,0,0,0,...,86202.0,83155.0,84927.0,10711.0,12915.0,2962.0,2863.0,2996.0,3257.0,1
2,21752,80000.0,2,2,2,22,1,2,2,-2,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
3,21135,640000.0,1,1,2,33,-1,-1,-1,0,...,62649.0,63218.0,53151.0,4258.0,32120.0,34000.0,5037.0,0.0,13855.0,0
4,17952,170000.0,1,2,1,36,1,2,0,0,...,139956.0,141431.0,149946.0,7.0,6513.0,6548.0,5300.0,11001.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,21952,170000.0,2,1,2,27,-2,-2,-2,-2,...,0.0,0.0,1532.0,18719.0,30000.0,0.0,0.0,1532.0,0.0,1
29996,17190,60000.0,2,2,1,28,2,2,0,0,...,20108.0,19487.0,35160.0,0.0,1304.0,2331.0,0.0,16000.0,2000.0,1
29997,13803,50000.0,1,3,2,46,1,2,0,0,...,49725.0,49910.0,48694.0,0.0,2000.0,1900.0,2007.0,2000.0,2012.0,1
29998,25135,80000.0,1,2,1,56,0,0,0,0,...,49857.0,46429.0,46247.0,2800.0,2340.0,2009.0,1793.0,1700.0,1812.0,0
29999,12408,270000.0,2,1,1,33,0,0,0,-2,...,0.0,4448.0,5667.0,5000.0,0.0,0.0,4448.0,1300.0,2443.0,0

Посмотрим на наш датасет:

In [214]:
df.head()

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default.payment.next.month
0,1,20000.0,2,2,1,24,2,2,-1,-1,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1
1,2,120000.0,2,2,2,26,-1,2,0,0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1
2,3,90000.0,2,2,2,34,0,0,0,0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0
3,4,50000.0,2,2,1,37,0,0,0,0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0
4,5,50000.0,1,2,1,57,-1,0,-1,0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0

Проверим, сколько у нас значений NaN в столбцах (на всякий случай):

In [215]:
np.sum(df.isna())

ID                            0
LIMIT_BAL                     0
SEX                           0
EDUCATION                     0
MARRIAGE                      0
AGE                           0
PAY_0                         0
PAY_2                         0
PAY_3                         0
PAY_4                         0
PAY_5                         0
PAY_6                         0
BILL_AMT1                     0
BILL_AMT2                     0
BILL_AMT3                     0
BILL_AMT4                     0
BILL_AMT5                     0
BILL_AMT6                     0
PAY_AMT1                      0
PAY_AMT2                      0
PAY_AMT3                      0
PAY_AMT4                      0
PAY_AMT5                      0
PAY_AMT6                      0
default.payment.next.month    0
dtype: int64

Сократим наш датасет до значения 100:

In [216]:
df = df.iloc[:100]

Разделим наши данные на тренировочные и тестовые:

In [217]:
X_train = df[["EDUCATION", "SEX"]][:67].values
Y_train = df["default.payment.next.month"][:67]

X_test = df[["EDUCATION", "SEX"]][67:].values
Y_test = df["default.payment.next.month"][67:]


print("X_train.shape:{}".format(X_train.shape))
print("Y_train.shape:{}".format(Y_train.shape))
print("X_test.shape:{}".format(X_test.shape))
print("Y_test.shape:{}".format(Y_test.shape))

X_train.shape:(67, 2)
Y_train.shape:(67,)
X_test.shape:(33, 2)
Y_test.shape:(33,)

#### Обучим наш классификатор c регуляризатором (SGDClassifier) имеет уже встроенный классификатор):

Импортируем SDGClassifier:

In [218]:
from sklearn.linear_model import SGDClassifier

Создаем классификатор и выбираем, сколько будет выходных данных(verbose) и итераций (max_iter):

In [290]:
clf = SGDClassifier(verbose = 2, max_iter = 5)

Обучим модель с классификатором:

In [291]:
clf.fit(X_train, Y_train)

-- Epoch 1
Norm: 33.82, NNZs: 2, Bias: 9.605036, T: 67, Avg. loss: 16.535624
Total training time: 0.00 seconds.
-- Epoch 2
Norm: 8.83, NNZs: 2, Bias: 19.141758, T: 134, Avg. loss: 14.859477
Total training time: 0.00 seconds.
-- Epoch 3
Norm: 23.57, NNZs: 2, Bias: 10.392722, T: 201, Avg. loss: 14.734622
Total training time: 0.00 seconds.
-- Epoch 4
Norm: 35.30, NNZs: 2, Bias: -5.807637, T: 268, Avg. loss: 12.504103
Total training time: 0.00 seconds.
-- Epoch 5
Norm: 21.20, NNZs: 2, Bias: 1.431103, T: 335, Avg. loss: 12.956338
Total training time: 0.00 seconds.

c:\users\ayrapetyan\appdata\local\programs\python\python38\lib\site-packages\sklearn\linear_model\_stochastic_gradient.py:570: ConvergenceWarning: Maximum number of iteration reached before convergence. Consider increasing max_iter to improve the fit.
  warnings.warn("Maximum number of iteration reached before "

SGDClassifier(max_iter=5, verbose=2)

#### Обучим классификатор без регуляризатора:

Импортируем "LogisticRegression", чтобы обучить модель без регуляризатора:

In [292]:
from sklearn.linear_model import LogisticRegression

Создадим классификатор:

In [293]:
clfa = LogisticRegression(penalty='l2', C = 10000) ##C = 10000, чтобы не было регуляризации

Обучим модель с классификатором:

In [294]:
clfa.fit(X_train, Y_train)

LogisticRegression(C=10000)

#### Сравним точность двух классификаторов:

Точность (accuracy) для классификатора с регуляризатором:

In [295]:
train_accuracy_with = np.mean(Y_train == clf.predict(X_train))
test_accuracy_with = np.mean(Y_test == clf.predict(X_test))

Выведем нашу точность:

In [296]:
print("train_accuracy with regularizator: {}".format(train_accuracy_with))
print("test_acuracy with regularizator: {}".format(test_accuracy_with))

train_accuracy with regularizator: 0.40298507462686567
test_acuracy with regularizator: 0.3939393939393939

Точность (accuracy) для классификатора без регуляризатора:

In [297]:
train_accuracy_wout = np.mean(Y_train == clfa.predict(X_train))
test_accuracy_wout = np.mean(Y_test == clfa.predict(X_test))

Выведем нашу точность:

In [298]:
print("train_accuracy without regularizator: {}".format(train_accuracy_wout))
print("test_accuracy without regularizator: {}".format(test_accuracy_wout))

train_accuracy without regularizator: 0.7164179104477612
test_accuracy without regularizator: 0.7575757575757576

##### Исходя из полученнызх данных, точность класссификатора без регуляризатора больше, чем с регуляризатором

## Оценим Precision и Recall:

Воспользуемся готовыми функциями "precision_score" для Precision и "recall_score" для Recall:

In [357]:
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score

### Precision:

#### Для классификатора с регуляризатором:

pos_label = 0:

In [358]:
## Для тренировочных данных:
print("train precision with regularization: {}".format(precision_score(Y_train, clf.predict(X_train), pos_label=0)))
## Для тренировочных данных:
print("test precision with regularization: {}".format(precision_score(Y_test, clf.predict(X_test), pos_label=0)))

train precision with regularization: 0.8333333333333334
test precision with regularization: 0.875

pos_label = 1:

In [362]:
## Для тренировочных данных:
print("train precision with regularization: {}".format(precision_score(Y_train, clf.predict(X_train), pos_label=1)))
## Для тренировочных данных:
print("test precision with regularization: {}".format(precision_score(Y_test, clf.predict(X_test), pos_label=1)))

train precision with regularization: 0.3090909090909091
test precision with regularization: 0.24

### Для классификатора без регуляризатора:

pos_label = 0:

In [364]:
## Для тренировочных данных:
print("train precision with regularization: {}".format(precision_score(Y_train, clfa.predict(X_train), pos_label=0)))
## Для тренировочных данных:
print("test precision with regularization: {}".format(precision_score(Y_test, clfa.predict(X_test), pos_label=0)))

train precision with regularization: 0.7164179104477612
test precision with regularization: 0.78125

pos_label = 1:

In [369]:
## Для тренировочных данных:
print("train precision with regularization: {}".format(precision_score(Y_train, clfa.predict(X_train), pos_label=1, zero_division = 0))) 
## Для тренировочных данных:
print("test precision with regularization: {}".format(precision_score(Y_test, clfa.predict(X_test), pos_label=1, zero_division = 0)))

train precision with regularization: 0.0
test precision with regularization: 0.0

### Recall:

##### Для классификатора с регуляризатором:

pos_label = 0:

In [370]:
## Для тренировочных данных:
print("train recall with regulariztor: {}".format(recall_score(Y_train, clf.predict(X_train), pos_label=1)))
## Для тренировочных данных:
print("test recall with regularizator: {}".format(recall_score(Y_test, clf.predict(X_test), pos_label=1)))

train recall with regulariztor: 0.8947368421052632
test recall with regularizator: 0.8571428571428571

pos_label = 1:

In [371]:
## Для тренировочных данных:
print("train recall with regulariztor: {}".format(recall_score(Y_train, clf.predict(X_train), pos_label=0)))
## Для тренировочных данных:
print("test recall with regularizator: {}".format(recall_score(Y_test, clf.predict(X_test), pos_label=0)))

train recall with regulariztor: 0.20833333333333334
test recall with regularizator: 0.2692307692307692

##### Для классификатора без регуляризатора:

pos_label = 0:

In [372]:
## Для тренировочных данных:
print("train recall without regulariztor: {}".format(recall_score(Y_train, clfa.predict(X_train), pos_label=0)))
## Для тренировочных данных:
print("test recall without regularization: {}".format(recall_score(Y_test, clfa.predict(X_test), pos_label=0)))

train recall without regulariztor: 1.0
test recall without regularization: 0.9615384615384616

pos_label = 1:

In [373]:
## Для тренировочных данных:
print("train recall without regulariztor: {}".format(recall_score(Y_train, clfa.predict(X_train), pos_label=1)))
## Для тренировочных данных:
print("test recall without regularization: {}".format(recall_score(Y_test, clfa.predict(X_test), pos_label=1)))

train recall without regulariztor: 0.0
test recall without regularization: 0.0